@page
@model VIACinema.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Movies</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].MovieLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[0].DirectorName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.MovieId">Details</a> |
                @if (User.Identity.IsAuthenticated)
                { <a asp-page="../Orders/Create" asp-route-id="@item.MovieId">Buy Ticket</a> }
                else { <a asp-page="../ErrorNotLoggedIn" asp-route-id="@item.MovieId">Buy Ticket</a> }
            </td>
        </tr>
}
    </tbody>
</table>